.root {
  position: relative;
  width: 375px;
  margin: auto;
}

.placeholder {
  height: 50px;
  background: #eee;
  margin-bottom: 15px;
}

.luckyNumber {
  position: absolute;
  width: 275px;
  height: 60px;
  line-height: 60px;
  margin-top: -15px;
  margin-left: -137.5px;
  left: 50%;
  z-index: 1;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-top: 2px;
  padding-left: 140px;
  box-sizing: border-box;
  background: url(../../images/number.png) no-repeat center/cover;
  visibility: hidden;
}

.lottery {
  width: 100%;
  height: 45px;
  padding: 0;
  line-height: 45px;
  background: #08ba06;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.records {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #f0f1f2;
  box-sizing: border-box;
}

.number {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #872533;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
